@import "../_variable";


@mixin displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cube{
	position: relative;
}
.blur{
	position: absolute;
	filter: blur(20px);
}
.cube,.blur{
	width: 100%;
	max-width: 75vh;
	height: 500vw;
	max-height: 50vh;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
  overflow: hidden;
}
.cube::before,.blur::before{
	content: "";
	width: 140%;
	height: 200%;
	background: linear-gradient(
		#5ddcff 34%,
		transparent 45% 55%,
		#4e00c2 80%
	);
	position: absolute;
	animation: animate 10s infinite linear;
}
.cube::after{
	content: "";
	background: #181810;
	border-radius: 20px;
	position: absolute;
	inset: 4px;
}
@keyframes animate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.gradient_box {
  
  justify-content: center;
  border: 10px solid white;
  border-image-slice: 1;
  border-width: 2px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 500px;
  margin: auto;

  position: relative;
  padding: 50% 2em;
  box-sizing: border-box;

  // background-clip: padding-box; /* !importanté */
  border-radius: 20px;

  // background: linear-gradient(104.42deg, #93DEFF 0%, #8758FF 60.23%);
  // -webkit-box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.817);
  //         box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.1), inset 4px 4px 4px rgba(255, 255, 255, 0.865);

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    border-radius: inherit; /* !importanté */
    // background: linear-gradient(to right, red, orange);
    // background: linear-gradient(235deg, #e100ff, #060c21, #3700ff);
    background: linear-gradient(104.42deg, #93DEFF 0%, #8758FF 60.23%);
  }
}

.NFT_card_wrapper {
  max-width: 400px;
  padding: 16px;
  margin: 0px 10px;
  border-radius: 16px;
  overflow: hidden;

  .poster_container {
    position: relative;
    height: 450px;
    border-radius: 18px;
    margin-bottom: 16px;
    overflow: hidden;

    .poster {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $mobile-lg) {
      height: 400px;
    }
  }

  .bidding_price {
    display: flex;
    align-items: baseline;
    background: #2a27c91a;
    color: #8758FF;
    font-size: 12px;
    padding: 6px 8px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .risk_profile {
    display: flex;
    align-items: baseline;
    background: #2a27c91a;
    // color: $purple-1000;
    font-size: 12px;
    padding: 6px 8px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
  }

  .timer {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 3;
    color: $white;
  }

  .total_bid {
    color: $gray-white-1000;
  }

  .like_count {
    color: $gray-white-1000;
  }

  .avatar {
    position: relative;
    height: 22px;
    width: 22px;
    border: 5px solid $purple-200 !important;
    border-radius: 50%;
  }

  .title {
    font-size: 16px;
  }

  @media (min-width: 1400px) {
    .title {
      font-size: 20px;
    }
    .bidding_price {
      font-size: 14px;
    }
  }

  @media (max-width: 1024px) {
    margin: 0 5px;
  }
}
